* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

.navbarcontent {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.379);
    padding: 0 20px;
}

.navbarlogo {
    display: flex;
    align-items: center;
}

.restoname {
    color: white;
    margin: 0;
}

.navbaritems {
    display: flex;
    gap: 100px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    list-style: none;
}

.orderbutton button {
    font-weight: 500;
    color: white;
    border: 0.5px solid white;
    background-color: rgba(255, 255, 255, 0.011);
    padding: 10px 20px;
}
.menubutton{
    width:100px;
    padding:8px 2px;
    border-style:none;
    font-weight: 500;
    font-size:0.8rem;
    color:white;
    border:1px solid white;
    background-color: rgba(0, 0, 0, 0);
}
.veg{
    margin-right:8px;
}

.nonveg{
    margin-left:8px;
}

.row{
    width:100%;
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:20px;
    
}
.positioning{
    position: relative;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:100vh;
}

button.menubutton.veg:hover{
    border-color:green;
    color:green;
}

button.menubutton.nonveg:hover{
    border-color:red;
    color:red;
}

a{
    text-decoration: none;
    color: white;
}

a .navbaritems :hover{
    color: rgb(222, 222, 11);
}

@media (max-width: 767px) {

    .navbarcontent {
        height: 70px;
        padding: 0 10px;
    }
    
    .navbaritems {
        display: none;
        
    }
    .navbarlogo h1{
        font-size: 1.5rem;
    }
    
    .orderbutton button {
        font-size: 0.7rem;
        font-weight: 400;
        color: white;
        border: 0.5px solid white;
        background-color: rgba(255, 255, 255, 0.011);
        padding: 5px 10px;
    }
}
