@media (max-width: 960px) {
    .navbarcontent {
        height: 70px;
        padding: 0 10px;
        z-index: 10;
    }

    .navbarlogo h1 {
        font-size: 1.5rem;
    }

    .hamburger {
        display: flex;
        z-index: 10;
        position: fixed;
        right:3%;
    }

    .navbaritems,
    .orderbutton {
        position: fixed;
        left: -100%;
        top:1px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 10;
    }

    .navbaritems li,
    .orderbutton {
        margin: 15px 0;
    }

    .navbaritems li {
        width: 100%; /* Ensure li elements take full width in mobile view */
    }

    .navbaritems li a {
        display: block; /* Ensure anchor tags take full width in mobile view */
        padding: 10px 0; /* Add padding for better click area */
    }

    .navbaritems.active,
    .orderbutton.active {
        left: 0;
    }
}
